@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 87.5%;
    --secondary-foreground: 0 0% 12%;

    --muted: 0 0% 97.5%;
    --muted-foreground: 0 0% 30%;

    --accent: 0 0% 92.5%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 77.5%;
    --input: 0 0% 82.5%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 90%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 93.1%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 75%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 90.6% 70.8%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 30%;
    --input: 0 0% 25%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-dashed border-border;
  }

  *::-webkit-scrollbar {
    @apply h-0 w-1.5;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-neutral-400 dark:bg-neutral-700;
  }

  html {
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;
  }

  body {
    @apply flex h-dvh select-none flex-col bg-background text-foreground;
  }

  .content {
    @apply rounded-lg border-2 bg-muted hover:bg-accent;
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-lg font-bold md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-lg font-bold md:text-xl lg:text-2xl;
  }

  h4 {
    @apply text-lg font-bold lg:text-xl;
  }

  h5 {
    @apply text-base font-bold lg:text-lg;
  }
}

.toggle {
  --size: 18px;

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(0, 0, 95%);

  transition: all 200ms;
}

.toggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);

  transform: scale(0.75);
  color: hsl(44.7, 100%, 67.6%);
  box-shadow:
    inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

/* Ripple Animation */

.ripple path {
  @apply fill-border;
}

/* Blog and About */

prose h2 {
  @apply mb-5 mt-8;
}

.prose p,
.prose li {
  @apply text-justify;
}

.prose blockquote {
  @apply border-dashed;
}

.prose img {
  @apply m-0 !important;
}

.prose blockquote > div {
  @apply text-right;
}

/* Syntax Highlighter */

.prose pre {
  @apply border-2 bg-accent p-4;
}

.prose code {
  @apply break-words rounded bg-accent px-1 py-0.5;
}

.prose a:has(code) {
  @apply no-underline;
}

.prose pre > code {
  @apply p-0 text-xs text-secondary-foreground md:text-sm;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply italic text-gray-400 dark:text-gray-500;
}

.token.punctuation {
  @apply text-gray-400 dark:text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-600 dark:text-green-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-600 dark:text-purple-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-600 dark:text-yellow-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-600 dark:text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-red-600 dark:text-red-400;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-600 dark:text-yellow-400;
}

div[data-remark-code-title] {
  @apply rounded-t border-2 border-b-0 bg-input px-4 py-3 text-sm font-bold;
}

div[data-remark-code-title] + div > pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* Gist */

.gist-file {
  @apply m-0 border-2 border-dashed border-border !important;
}

.gist-data {
  @apply border-0 !important;
}

.gist-meta {
  @apply bg-input text-muted-foreground !important;
}

.gist-meta a {
  @apply text-foreground !important;
}

.gist .file {
  @apply m-0 overflow-hidden;
}

.blob-interaction-bar,
.gist .markdown-body table tbody > *:nth-child(n + 11) {
  @apply hidden;
}

.gist .markdown-body table {
  @apply min-w-full;
}

.gist .markdown-body table thead,
.gist .markdown-body table th {
  @apply border-solid border-border bg-secondary text-secondary-foreground !important;
}

.gist .markdown-body table td:first-child {
  @apply bg-accent !important;
}

.gist .markdown-body table tbody > * {
  @apply border-solid border-border !important;
}

.gist .markdown-body table td {
  @apply pointer-events-none border-border bg-muted align-middle text-foreground !important;
}

/* Math */

.katex {
  @apply text-base !important;
}

.katex-display {
  @apply m-0 rounded-md border-2 bg-accent p-4 !important;
}

.katex-display .katex {
  @apply overflow-y-hidden text-sm md:text-base !important;
}
