@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;
}

body {
    @apply text-dark subpixel-antialiased dark:bg-zinc-950 dark:text-light;
}

::selection {
    color: black;
    @apply bg-zinc-300 dark:bg-zinc-400;
}

*::-webkit-scrollbar {
    height: 0px;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.8);
    border-radius: 10px;
}

.toggle {
    --size: 18px;

    appearance: none;
    outline: none;
    cursor: pointer;

    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);

    transition: all 500ms;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 100%, 50%);
    box-shadow:
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
            var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size);
}

@layer base {
    h1 {
        @apply text-2xl font-bold md:text-3xl;
    }

    h2 {
        @apply text-lg font-bold md:text-2xl lg:text-3xl;
    }

    h3 {
        @apply text-lg font-bold md:text-xl lg:text-2xl;
    }

    h4 {
        @apply text-lg font-bold lg:text-xl;
    }
    h5 {
        @apply text-base font-bold lg:text-lg;
    }
}

/* Blog and About */

.prose h2 {
    @apply mt-4;
}

.prose p {
    @apply text-justify;
}

.prose blockquote {
    @apply border-dashed;
}

.prose img {
    @apply m-0 !important;
}

.prose blockquote > div {
    @apply text-right;
}

/* Syntax Highlighter */

.prose pre {
    @apply border-2 border-dashed border-gray-200 bg-zinc-100 dark:border-gray-700/50  dark:bg-zinc-800;
}

.prose code {
    @apply rounded border-gray-100 bg-zinc-100 px-1 py-0.5 text-dark dark:bg-zinc-800 dark:text-light;
}

.prose pre > code {
    @apply p-0 text-xs md:text-sm;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply italic text-gray-400 dark:text-gray-500;
}

.token.punctuation {
    @apply text-gray-400 dark:text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-green-600 dark:text-green-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-purple-600 dark:text-purple-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-600 dark:text-yellow-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply text-blue-600 dark:text-blue-400;
}

.token.function,
.token.class-name {
    @apply text-red-600 dark:text-red-400;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-600 dark:text-yellow-400;
}

div[data-remark-code-title] {
    @apply rounded-t border-2 border-b-0 border-dashed border-gray-200 bg-zinc-300/80 p-4 text-sm font-bold text-gray-800 dark:border-gray-700 dark:bg-zinc-700/80 dark:text-gray-200;
}

div[data-remark-code-title] + div > pre {
    @apply mt-0 rounded-t-none border-t-0;
}

/* Ripple Animation */

.ripple path {
    @apply fill-neutral-400 dark:fill-neutral-500;
}

/* Gist */

.gist-file {
    @apply border-2 border-dashed border-gray-200 dark:border-gray-700/50 !important;
}

.gist .markdown-body table {
    @apply min-w-full;
}

.gist .markdown-body table thead,
.gist .markdown-body table th {
    @apply border-gray-300 bg-zinc-200 text-dark dark:border-gray-700 dark:bg-zinc-800/95 dark:text-light !important;
}

.gist .markdown-body table td:first-child {
    @apply bg-zinc-50 dark:bg-zinc-900 !important;
}

.gist .markdown-body table td {
    @apply pointer-events-none border-gray-300 bg-zinc-100 align-middle text-dark dark:border-gray-700 dark:bg-zinc-800 dark:text-light !important;
}

.gist-meta {
    @apply bg-zinc-300/80 text-gray-600 dark:bg-zinc-600 dark:text-gray-300 !important;
}

.gist-meta a {
    @apply text-dark dark:text-light !important;
}

.gist-data {
    @apply border-0 !important;
}

.gist .file {
    @apply m-0 overflow-hidden;
}

.blob-interaction-bar,
.gist .markdown-body table tbody > *:nth-child(n + 11) {
    @apply hidden;
}
