@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;
}

body {
    @apply text-dark subpixel-antialiased dark:bg-zinc-950 dark:text-light;
}

::selection {
    color: black;
    @apply bg-zinc-300 dark:bg-zinc-400;
}

*::-webkit-scrollbar {
    height: 0px;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.8);
    border-radius: 10px;
}

.toggle {
    --size: 18px;

    appearance: none;
    outline: none;
    cursor: pointer;

    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);

    transition: all 500ms;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 100%, 50%);
    box-shadow:
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
            var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size);
}

@layer base {
    h1 {
        @apply text-2xl font-bold md:text-3xl;
    }

    h2 {
        @apply text-lg font-bold md:text-2xl lg:text-3xl;
    }

    h3 {
        @apply text-lg font-bold md:text-xl lg:text-2xl;
    }

    h4 {
        @apply text-lg font-bold lg:text-xl;
    }
    h5 {
        @apply text-base font-bold lg:text-lg;
    }
}

/* Blog and About */

.prose {
    @apply text-justify;
}

.prose > p {
    @apply indent-5;
}

.prose blockquote {
    @apply border-dashed;
}

.prose img {
    @apply m-0 !important;
}

.prose blockquote > div {
    @apply text-right;
}

/* Syntax Highlighter */

.prose pre {
    @apply border-2 border-dashed border-gray-200 bg-zinc-100 dark:border-gray-700/50  dark:bg-zinc-800;
}

.prose code {
    @apply rounded border-gray-100 bg-zinc-100 px-1 py-0.5 text-dark dark:bg-zinc-800 dark:text-light;
}

.prose pre > code {
    @apply p-0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-gray-700 dark:text-gray-500;
}

.token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply text-blue-500;
}

.token.function,
.token.class-name {
    @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-500;
}

/* Ripple Animation */

.ripple path {
    @apply fill-neutral-400 dark:fill-neutral-500;
}
